<form id = "login" action="log in">
  User Name:<br>
  <input id = "username" type="text" name="user name" value="santa claus"><br>
  <input type="button" value="Log in" onclick = "loginFunction();">
  <img src="/images/facebook_logo.jpg" style="width:304px;height:228px;">
</form>