body {
    background-color: lightblue;
}

h1{
  flex: 1;
  background-color: #666699;
  padding: 12px;
  font-size: 50px;
  /*border: solid 1px #e7e7e7;*/
}


.grid__row {
  display: flex;

}

.grid__item1 {
  flex: 1.7;
  /*background-color: #66b3ff;*/
  padding: 12px;
  /*border: solid 1px #e7e7e7;*/
  flex-direction: column;

}
.grid__item2 {
  flex: .3;
	background-color: #c4ff4d;
	padding: 12px;
	border: solid 1px #e7e7e7;
  flex-direction: column;

}

.delbutton {
    background-color: #000000; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#tweetsListElement{
    visibility: hidden;
}


.tweetName{
  text-align: right;
}

#currentUser{
  text-align: right;
}

li {
  background-color: #ff6600;
  margin: 10px;
  width:900px;
  /*height: 40px;*/
  border:3px #6D929B solid;
  font-size: 20px;
  padding: 10px;
  word-wrap: break-word;
}

/*.userbutton{
  text-align: center;
  margin: 0 auto;
}
*/
h2 {
    text-align: center;
}

.userName{
    text-align: center;
}


.userbutton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  /*padding: 10px 20px 10px 20px;*/
  text-decoration: none;
}

.userbutton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



.logbutton {

  background: #ced934;
  background-image: -webkit-linear-gradient(top, #ced934, #2980b9);
  background-image: -moz-linear-gradient(top, #ced934, #2980b9);
  background-image: -ms-linear-gradient(top, #ced934, #2980b9);
  background-image: -o-linear-gradient(top, #ced934, #2980b9);
  background-image: linear-gradient(to bottom, #ced934, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
}

.logbutton:hover {
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #3498db);
  background-image: -moz-linear-gradient(top, #fc3c3c, #3498db);
  background-image: -ms-linear-gradient(top, #fc3c3c, #3498db);
  background-image: -o-linear-gradient(top, #fc3c3c, #3498db);
  background-image: linear-gradient(to bottom, #fc3c3c, #3498db);
  text-decoration: none;
}